<div class="row">
  <aside class="col-md-4">
    <h3>Reward</h3>      
    <section class="user_info">
    <h5>
    <%= @user.name %>
    </h5>
    <hr>
    </section>
  </aside>
  <div class="row">
  <div class="col-md-8">  
    <%= image_tag @map.image %>
    <img class=imgFlag src="/images/flag.pngg">
     
  </div>

  <div class="col-md-4">
    
    <%= form_for @reward[0] do |r| %>
    <label for="reward">Reward </label>
    <%= r.radio_button(:reward_id, "A", :checked => (:reward_id == 'rewardA') %><span style="float:left">A</span>
    <%= r.radio_button(:reward_id, "B", :checked => (:reward_id == 'rewardB')) %><span style="float:left">B</span>
    <%= r.radio_button(:reward_id, "C", :checked => (:reward_id == 'rewardC')) %><span style="float:left">C</span>      
    <%= r.radio_button(:reward_id, "D", :checked => (:reward_id == 'rewardD')) %><span style="float:left">D</span>      
    <!--<div class="radio">-->
    <!--  <label><input type="radio" name="optradio">Reward 1</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--  <label><input type="radio" name="optradio">Reward 2</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--  <label><input type="radio" name="optradio">Reward 3</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--  <label><input type="radio" name="optradio">Reward 4</label>-->
    <!--</div>-->
    <!--<br><br>-->
    <br>
    <!--confirm btn-->
    <%= r.submit "Get Reward", class: "btn btn-sm btn-warning" %>
  
  </div>
  </div>
</div>



