<div class="row">
  <aside class="col-md-4">
    <h3>マイページ</h3>      
    <section class="user_info">
    <h5>
    <%= @user.name %>
    </h5>
    <hr>
    </section>
  </aside>
  <div class="row">
  <div class="col-md-8"><a><img src="/images/map.png"/></a> 
  <!--if img.value=true-->
  <img class=imgA1 src="/images/stamp1.png">
  <img class=imgB1 src="/images/stamp2.png">
  <img class=imgC1 src="/images/stamp3.png">
  <img class=imgD1 src="/images/stamp4.png">
  <!--button.click=true-->
  <br>
   <!--#f.submit "Complete", class: "btn btn-sm btn-warning active" -->
  <!--else-->
  <br>
   <!--#f.submit "Complete", class: "btn btn-sm btn-warning disabled" -->
  </div>

  <div class="col-md-4">
  <%= form_for(@user, :url => {:action => 'update'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %> <!-- エラー表示 -->
    <label for="stampcode" class="control-label col-md-1">CODE:</label>
    <input type="text" name="code"></input>
    <%= f.submit "Confirm", class: "btn btn-sm btn-warning" %>
  <% end %>
  <br><br>

    <%= link_to image_tag("/images/stamp1.png", :border => 0, :alt => '', :title => ''), login_path%>
    <%= link_to image_tag("/images/stamp2.png", :border => 0, :alt => '', :title => ''), login_path%>
    <%= link_to image_tag("/images/stamp3.png", :border => 0, :alt => '', :title => ''), login_path%>
    <%= link_to image_tag("/images/stamp4.png", :border => 0, :alt => '', :title => ''), login_path%>

  </div>
  </div>
</div>