<div class="row">
  <aside class="col-md-4">
    <h3>My Page</h3>      
    <section class="user_info">
    <h5>
    <%= @user.name %>
    </h5>
    <hr>
    </section>
  </aside>
  <div class="row">
  <div class="col-md-8"><a><img src="/images/map.png"/></a> </div>

  <div class="col-md-4">
  <%= form_for(@user, :url => {:action => 'update'}) do |f| %>
    <label for="stampcode" class="control-label col-md-1">CODE:</label>
    <input type="text" name="code"></input>
    <%= f.submit "Confirm", class: "btn btn-sm btn-warning" %>
  <% end %>
  <br><br>
  <% if @stamp_all.present? 
    @stamp_all.each do |stamp| %>  
   <p><%= link_to stamp.image, login_path %><p>
    
  <% end 
  end %>

    <%= link_to image_tag("/images/stamp1.png", :border => 0, :alt => '', :title => ''), login_path%>
    <%= link_to image_tag("/images/stamp2.png", :border => 0, :alt => '', :title => ''), login_path%>
    <%= link_to image_tag("/images/stamp3.png", :border => 0, :alt => '', :title => ''), login_path%>
    <%= link_to image_tag("/images/stamp4.png", :border => 0, :alt => '', :title => ''), login_path%>

  </div>
  </div>
</div>