<div class="row">
  <aside class="col-md-4">
    <h3>マイページ</h3>      
    <section class="user_info">
    <h5>
    <%= @user.name %>
    </h5>
    <hr>
    </section>
  </aside>
  <div class="row">
  <div class="col-md-8">  
    <%= image_tag @map.image %>
<<<<<<< HEAD
    <br>
    <!--Hint btn-->
    <%= f.submit "Get Hint", class: "btn btn-sm btn-warning" %>
    <!--Reward btn-->
    <% if @map.status1 == true && @map.status2 == true && @map.status3 == true && @map.status4 == true%>  
    <%= f.submit "Get Reward", class: "btn btn-sm btn-warning active" %>
    <% else %>
    <%= f.submit "Get Reward", class="btn btn-warning disabled" %>
    <% end %>
  
    <!--<div class="col-md-8"><a><img src="/images/map.png"/></a> -->
    <% if @map.status1 == true %>
=======
 
  <!--<div class="col-md-8"><a><img src="/images/map.png"/></a> -->
    <% if @map.status1 == "t" %>
     <img class=imgA1 src="/images/stamp1.png">
    <% else %>
     <img class=imgA1 src="/images/blank.jpeg">
    <% end %>
    <% if @map.status2 == "t" %>
     <img class=imgB1 src="/images/stamp2.png">
    <% else %>
     <img class=imgB1 src="/images/blank.jpeg">
    <% end %>

    <% if @map.status3 == "t" %>
     <img class=imgC1 src="/images/stamp3.png">
    <% else %>
     <img class=imgC1 src="/images/blank.jpeg">
    <% end %>
    <% if @map.status4 == "t" %>
     <img class=imgD1 src="/images/stamp4.png">
    <% else %>
     <img class=imgD1 src="/images/blank.jpeg">
    <% end %>
     
  </div>

  <div class="col-md-4">
  <%= form_for(@user, :url => {:action => 'update'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %> <!-- エラー表示 -->
    <label for="stampcode" class="control-label col-md-1">CODE:</label>
    <input type="text" name="code", placeholder="popy_0000"></input>
    <%= f.submit "Confirm", class: "btn btn-sm btn-warning" %>
  <% end %>
  <br><br>

  <% if @stamp_all.present? %>
  <% @stamp_all.each do |f| %>
    <%
    # link_to image_tag f.image, stamp_update_user_path
    %>
    <a href='/users/<%= @user.id %>/stamp_update?image=<%= f.image %>'><%= image_tag f.image %></a>
  <% end %>
  <% end %>
  
  </div>
  </div>
</div>


